<div class="containerSuiteButtons" style="display: block;">
 <%= link_to image_tag("add_f"), new_test_suit_path, class: "addSuiteBtn" %>
</div>
<table class= "table_test_suite">
  <thead>
    <tr>
      <th class= "row_suite text">Web Test Suites</th>
      <th class= "row_suite icon">Edit</th>
      <th class= "row_suite icon">Run</th>
      <th class= "row_suite icon">Export</th>
      <th class= "row_suite icon">Duplicate</th>
      <th class= "row_suite icon">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @testsuits.each do |s| %>
    <tr>
      <td class= "row_suite text"><%= image_tag("folder1", class: "img_folder")%><%= s["name"] %></td>
      <td class= "row_suite icon">
        <%= link_to edit_test_suit_path(s["id"]) do %>
          <i class="glyphicon glyphicon-edit" style="font-size:20px;"></i>
        <% end %>
      </td>
      <td class= "row_suite icon"><i class="fa fa-play" style="font-size:20px;"></i></td>
      <td class= "row_suite icon"><i class="fa fa-cloud-download" style="font-size:20px;"></i></td>
      <td class= "row_suite icon"><i class="fa fa-clone" style="font-size:20px;"></i></td>
      <td class= "row_suite icon">
        <%= link_to test_suit_path(s["id"]), method: :delete, data: {confirm: "Are you sure?" }, remote: true do %>
         <i class="fa fa-trash" style="font-size:20px;"></i>
        <% end %>
     </td>
    </tr>
  <% end %>
</tbody>

</table>

